<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsvhlpom.proddata.mapper.TblPasswordMapper">
    <resultMap id="result" type="com.tsvhlpom.proddata.domain.TblPassword">
        <result property="c_from_code"    column="c_from_code"    />
        <result property="c_info"    column="c_info"    />
        <result property="c_password"    column="c_password"    />
    </resultMap>
    <sql id="selectSql">
        select c_from_code,c_info,c_password from typt.tbl_password
    </sql>

    <update id="update" parameterType="com.tsvhlpom.proddata.domain.WebPlyVatInvoice">
        update typt.tbl_password a
        set a.c_from_code = #{c_from_code} ,a.c_password = #{c_password}
        where  c_from_code = #{c_from_code_old}
    </update>
    <select id="getTblPasswordList" parameterType="string" resultMap="result">
        <include refid="selectSql"></include>
        where c_from_code = #{c_from_code}
    </select>
</mapper>
