<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsvhlpom.prodapi.taisheng.mapper.SubjectMapper">
    <resultMap id="subjectResult" type="com.tsvhlpom.prodapi.taisheng.VO.Subject">
        <result property="subjectType" column="subjectType" ></result>
        <result property="name" column="name" ></result>
    </resultMap>
    <select id="getAppSubject" resultMap="subjectResult">
        SELECT decode(app.c_clnt_mrk, '1', 'PERSONAL', '6', 'OTHER', 'ORGANIZATION') as subjectType,
       app.c_app_nme as name
  FROM web_ply_applicant app
 WHERE  app.c_app_no = #{appNo}

    </select>
    <select id="getInsSubject" resultMap="subjectResult">
        SELECT decode(app.c_clnt_mrk, '1', 'PERSONAL', '6', 'OTHER', 'ORGANIZATION') as subjectType,
                app.c_insured_nme as name
         FROM web_ply_insured app
 WHERE app.c_app_no = #{appNo}

    </select>
</mapper>
